@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

p {
  color: white;
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  transition: opacity 300ms ease;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  width: 530px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy > .letter {
  display: inline-block;
  transition: transform 1200ms cubic-bezier(0, 0.74, 0.45, 1.24);
  transition-delay: calc(0.06s * var(--index));
  cursor: pointer;
}

.fancy:hover > .letter {
  transition-duration: 800ms;
}

.fancy:hover > .letter:nth-child(1) {
  transform: translate(-80%, -50%) rotate(-7deg);
}

.fancy:hover > .letter:nth-child(2) {
  transform: translate(-60%, 30%) rotate(-4deg);
}

.fancy:hover > .letter:nth-child(3) {
  transform: translate(-10%, -50%) rotate(14deg);
}

.fancy:hover > .letter:nth-child(4) {
  transform: translate(-55%, 40%) rotate(15deg);
}

.fancy:hover > .letter:nth-child(5) {
  transform: translate(20%, -40%) rotate(-12deg);
}

.fancy:hover > .letter:nth-child(6) {
  transform: translate(-30%, 40%) rotate(-6deg);
}

.fancy:hover > .letter:nth-child(7) {
  transform: translate(-40%, -20%) rotate(8deg);
}

.fancy:hover > .letter:nth-child(8) {
  transform: translate(-30%, 40%) rotate(10deg);
}

.fancy:hover > .letter:nth-child(9) {
  transform: translate(-30%, -40%) rotate(-12deg);
}

.fancy:hover > .letter:nth-child(10) {
  transform: translate(-30%, 40%) rotate(20deg);
}
